<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Our Products</title>
    <script th:src="products.js"></script>
</head>
<body>
    <h2>Here you can browse our goods!</h2>
    <p th:class="name">Product name:  </p>
    <p th:class="description">Product description:  </p>
    <p th:class="price"> Our price:  </p>
</body>
</html>